body {
	background-color: rgb(255,255,240);
}

textarea {
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-shadow-color: silver;
	scrollbar-arrow-color: black;
	scrollbar-face-color: gray;
}

.imgHelp {
	cursor: help;
	background-color: #DDFFEE;
	padding: 8px;
	font-weight: bold;
	position: absolute;
	right: 32%;
	color: blue;
}

.imgHelp:hover ~ #help {
	display: block;
}

.imgHelp:hover ~ #main {
	display: none;
}

.EmailEditor {
	background-color: #FFFFDD;
	border: solid #d2d4d2 2px;
}

#main {
	width: 400px;
	background-color: #DDFFEE;
	padding: 10px;
	margin: 0px auto;
}

#help {
	/*position: absolute;*/
	width: 500px;
	height: 420px;
	top: 10px;
	background-color: #cfc;
	padding: 10px;
	display: none;
	border: solid #E4E7E7 2px;
	color: #303030;
	margin: 0px auto;
}

.Close {
	text-align: right;
	color: blue;
	cursor: pointer;
	float: right;
}

ul {
	list-style-image: url(photos/bullet.jpg);
	list-style-position: inside;
	list-style-type: square;
}

.group {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}

.group label {
	width: 25%;
}

.group input, .group textarea {
	width: 75%;
}

.group button {
	margin-right: 10px;
	padding: 3px 10px;
}
